html {
    font-size: 16px;
    background-color: antiquewhite;
}


h1 {
    color: rgb(121, 27, 121);
    text-align: center;
    font-size: 3rem;
    padding: 1rem 1rem 0 0;
}


h2 {
    color: rgb(121, 27, 121);
    text-align: center;
    font-size: 2rem;
    padding: 0rem 2rem;
}

    

nav ul {
    font-size: 1.5rem;
    background-color: rgb(121, 27, 121);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 1rem 2rem;
}

nav ul a, li {
    color: whitesmoke;
    list-style: none;
    text-decoration: none;
    padding: 0 1rem;  
    font-weight: bold;
    flex-shrink: 2;
}


.icon {
    background-color: rgb(121, 27, 121);
    height: 3rem;
    width: 3rem;
}


@media only screen and (max-width: 600px) {
    .icon {
        display: none;
    }
    nav ul {
        padding: 1rem 0;
    }

}
   

.container {
    margin-top: 1rem;
}



#mission {
    height: 35rem;
    background-image: url("../images/karen-penroz-8ZXPv-0wTZE-unsplash.jpg");
    background-size: cover;
    display: flex;
    justify-content:flex-end;
    align-items:flex-start;
}

@media only screen and (max-width: 900px) {
    #mission {
    justify-content:flex-start;
    align-items:flex-end;
    }
}

#products {
    height:auto;
    background-color: rgb(121, 27, 121);
}

#products h1, #products h2 {
    color: white;
}

p {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

.img-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.img-container {
    padding: 0 1rem;
}


img {
    height: 23rem;
    width: 23rem;
    border-radius: 1rem;
}


.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}


#about-us p {
    color: rgb(121, 27, 121);
}


.contact-us {
    background-color: rgb(121, 27, 121);
}

.contact-us h1 , .contact-us h2 {
    color: white;
}

footer {
    color: whitesmoke;
    background-color: rgb(121, 27, 121);
    padding: 0.5rem 0.5rem;
    text-align: center;
    margin-top: 1rem;
}

span {
    font-size: 1.25rem;
}


